@font-face {
    font-family:"Syntesia";
    src: url("../fonts/Syntesia.ttf") format('truetype');
}

@font-face {
    font-family: 'sarosregular';
    src: url('../fonts/saros-regular-webfont.woff2') format('woff2'),
         url('../fonts/saros-regular-webfont.woff') format('woff'),
         url("../fonts/Saros-Regular.ttf") format('truetype'),
         url("../fonts/Saros-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;

}

body {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: "sarosregular";
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/* input,
select,
textarea {
    max-width: 280px;
} */

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-utl{
    background-color: #35479b;
}

a.navbar-brand-utl{
    color: white;
    font-size: 20pt;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: "Syntesia";
}

.list-group li.list-group-item-borderless{
    border: 0 none;
    font-family: "sarosregular";
}

.list-group li.list-group-item-separator{
    border-right: 0 none;
    border-left: 0 none;
    font-family: "sarosregular";
}

.list-group li.list-group-item-topborder{
    border-right: 0 none;
    border-left: 0 none;
    font-family: "sarosregular";
}
a.menu-link{
    display:inline-block;
    width:100%;
    height:100%;
    font-size: 14px;
    font-family: "sarosregular";
}

a.menu-link:hover
{
    border: 1px solid #cccccc;
    margin: 0;
    padding: 5px;
    text-decoration: none;
}
